div.tree {
/*    border: .05px solid black;*/
    position: relative;
    width:75%;
    left: 15px;
    font-size: x-small;
}
div.clear {
    clear: both;
}
div.leaf{
    background-color: #aabbcc
}

div.parent{
    background-color: #5599fa
}
    
